<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{/layout/index :: dynamic(~{::main})}"
>
  <body>
    <main>
      <div class="container" style="width: 90%; ">
        <div class="row"  >
          <div class="col-sm-3" th:each="p : ${products}" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);; margin: 10px 0">
            <div class="product-grid h-100">
              <div class="product-image">
                <a th:href="@{|/product/list/${p.id}|}" class="image">
                  <img class="pic-1" th:src="@{|/assets/images/${p.image}|}" />
                  <img class="pic-2" th:src="@{|/assets/images/${p.image}|}" />
                </a>
              </div>
              <div class="product-content">
                <h3 class="title"><a href="#">[[${p.name}]]</a></h3>
                <div class="price">$[[${p.price}]]</div>
                <div >

                  <a style="cursor: pointer;" class="btn bg-primary text-white" th:attr="ng-click=@{|cart.add(${p.id})|}"
                    >ADD TO CART</a
                  >

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
