<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{/layout/index :: dynamic(~{::main})}"
>
  <body>
    <main>
      <div class="container" style="width: 90%; ">
        <div class="row"  >
          <div class="col-sm-3" th:each="p : ${products}" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);; margin: 10px 0">
            <div class="product-grid">
              <div class="product-image">
                <a th:href="@{|/product/list/${p.id}|}" class="image">
                  <img class="pic-1" th:src="@{|/assets/images/${p.image}|}" />
                  <img class="pic-2" th:src="@{|/assets/images/${p.image}|}" />
                </a>
                <span class="product-sale-label">New</span>
              </div>
              <div class="product-content">
                <ul class="rating">
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star"></li>
                  <li class="fas fa-star disable"></li>
                </ul>
                <h3 class="title"><a href="#">[[${p.name}]]</a></h3>
                <div class="price">$[[${p.price}]]</div>
                <div class="product-button-group">
                  <a class="product-like-icon" href="#"
                    ><i class="fas fa-heart"></i
                  ></a>
                  <a style="cursor: pointer;" class="add-to-cart" th:attr="ng-click=@{|cart.add(${p.id})|}"
                    ><i class="fa fa-shopping-bag"></i>ADD TO CART</a
                  >
                  <a class="product-compare-icon" href="#"
                    ><i class="fas fa-random"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
