<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<div class="super_container">
	<!-- Header -->
	<header class="header">
		<!-- Top Bar -->
		<div class="top_bar bg-primary">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"></div>
						<div class="top_bar_content ml-auto">
							<div class="top_bar_user">
								<th:block th:unless="${#request.remoteUser}">
									<div class="me-5">
										<a href="#" class="text-white">Register</a>
									</div>
									<div>
										<a th:href="@{/security/login/form}" class="text-white">Sign
											in</a>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Main -->
		<div class="header_main">
			<div class="container">
				<div class="row">
					<!-- Logo -->
					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div>
									<form action="#">
										<div class="input-group mb-3">
											<input type="text" class="form-control" placeholder="Search"
												aria-describedby="button-addon2">
											<button class="btn btn-outline-secondary" type="button"
												id="button-addon2">find</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- Wishlist -->
					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							<!-- Cart -->
							<a th:href="@{/cart/view}">
								<div class="cart">
									<div class="cart_container d-flex flex-row align-items-center justify-content-end">
										<div class="cart_icon">
											<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png"
												alt="" />
											<div class="cart_count">
												<span>{{cart.count}}</span>
											</div>
										</div>
										<div class="cart_content"></div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Navigation -->
		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="main_nav_content d-flex flex-row">
							<!-- Categories Menu -->
							<!-- Main Nav Menu -->
							<div class="main_nav_menu">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a th:href="@{/product/list}">Home<i class="fas fa-chevron-down"></i></a></li>
									<li class="hassubs"><a href="#">Categories<i class="fas fa-chevron-down"></i></a>
										<ul>
											<li th:each="c : ${categories}"><a
													th:href="@{|/product/list?cid=${c.id}|}">[[${c.name}]]<i
														class="fas fa-chevron-down"></i></a></li>
										</ul>
									</li>
									<th:block th:if="${#request.remoteUser}">
										<li><a th:href="@{/order/list}">Your Orders<i
													class="fas fa-chevron-down"></i></a></li>
										<li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
											<a th:href="@{/assets/admin/index.html}">Administration<i
													class="fas fa-chevron-down"></i></a>
										</li>
										<li><a th:href="@{/security/logoff}">Logout<i
													class="fas fa-chevron-down"></i></a></li>
									</th:block>
									<li th:if="${#request.remoteUser}" style="margin-right: -10px;" class="hassubs"><a
											href="#">Welcome
											[[${#request.remoteUser}]]<i class="fas fa-chevron-down"></i>
										</a>
										<ul>
											<li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a>
											</li>
											<li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="blog_single.html">Blog Post<i
														class="fas fa-chevron-down"></i></a></li>
											<li><a href="regular.html">Regular Post<i
														class="fas fa-chevron-down"></i></a></li>
											<li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- Menu Trigger -->
							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner">
											<span></span><span></span><span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- Menu -->
	</header>
</div>