
CREATE or alter PROCEDURE GetMonthlyOrderStatistics
    @year INT
AS
BEGIN
    -- Tạo một bảng tạm để chứa các tháng từ 1 đến 12
    DECLARE @Months TABLE (month INT);
    INSERT INTO @Months (month) VALUES (1), (2), (3), (4), (5), (6), (7), (8), (9), (10), (11), (12);

    -- Thực hiện truy vấn kết hợp để đảm bảo mọi tháng đều có mặt trong kết quả
    SELECT 
        m.month,
        COALESCE(COUNT(o.id), 0) AS totalOrders
    FROM 
        @Months m
    LEFT JOIN 
        Orders o ON MONTH(o.createDate) = m.month AND YEAR(o.createDate) = @year
    GROUP BY 
        m.month
    ORDER BY 
        m.month;
END;

    EXEC GetMonthlyOrderStatistics @year = 2024;

